<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <!--data source=server8;Database=WebCenter;User ID=sa; password =vv2832f1-->
    <add name="CallCenterConnectionString" connectionString="Data Source=DESKTOP-6SALJFB\SQLEXPRESS;Initial Catalog=Clinical;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="CallCenterConnectionString" connectionString="Data source=den1.mssql5.gear.host;Database=clinical;User ID=clinical; password =Cj9k_42d!PMt" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="connectionString" value="Data Source=DESKTOP-6SALJFB\SQLEXPRESS;Initial Catalog=Clinical;Integrated Security=True" />
    <!--<add key="connectionString" value="Data source=den1.mssql5.gear.host;Database=clinical;User ID=clinical; password =Cj9k_42d!PMt" />-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
